.container {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.directorySelect {
  min-width: 200px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.buttonsWrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.projectPath {
  font-size: 0.9rem;
  margin-left: 30px;
}
