.container {
  margin-bottom: 10px;
}

.heading {
  background-color: #eee !important;
  padding: 0 5px !important;
}

.headingTitle {
  font-size: 1rem !important;
  padding: 0 5px !important;
}

.details {
  padding: 5px;
}

.action {
  padding: 0 !important;
  padding-right: 15px !important;
  font-size: 0.8rem !important;
}

.action>svg {
  padding-right: 3px;
}

.actions {
  font-size: 0.8rem;
  padding-bottom: 10px;
}