.container {
}

.title {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
  font-weight: bold;
}

.heading {
  background-color: #eee !important;
  padding: 0 5px !important;
}

.headingTitle {
  font-size: 1.0rem !important;
  padding: 0 5px !important;
}

.details {
  padding: 5px;
}
