.item {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.header span {
  max-width: 83%;
}

.header {
  display:flex;
  align-items: center;
}

.buttonContainer {
  margin-left: auto;
  margin-right: 0;
}

.details {
  padding-left: 20px;
  margin-top: 10px;
}

.images,
.urls,
.subChecklists {
  margin-top: 10px;
}

.images ul{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.urls ul {
  list-style-type: none;
  padding-left: 0;
  max-height: 200px;
  overflow-y: auto;
  white-space: nowrap;
}

.images li{
  margin-right: 10px;
  margin-bottom: 5px;
  padding-right: 5px;
  position: relative;
}

.urls li{
  margin-right: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  position: relative;
}

.images li:not(:last-child) {
  border-right: 1px solid #ccc;
}
.urls li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.timestamp {
  display: block;
  font-size: 12px;
  color: #888;
}

.images img {
  height: auto;
  max-height: 150px;
  transition: max-height 0.3s ease;
  display: block;
  margin-top: 5px;
}

.imageContent,
.urlContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.imageContent.show,
.urlContent.show {
  max-height: 500px;
}

.urls a {
  text-decoration: none;
  color: #007bff;
  display: block;
  margin-top: 5px;
}

.urls a:hover {
  color: darkblue;
}

.images p,
.urls p {
  margin-top: 8px;
  font-size: 15px;
}

.item button {
  min-width: 50px;
  height: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item button.yes {
  background-color: #aa94d1;
  color: white;
}

.item button.yesset {
  background-color: rebeccapurple;
  color: white;
}

.item button.no {
  background-color: silver;
  color: white;
}

.item button.noset {
  background-color: grey;
  color: white;
}

.item button:hover {
  opacity: 0.9;
}

.headerWithButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownButton {
  background-color: #f8f9fa;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.dropdownButton:hover {
  background-color: #e9ecef;
}

.dropdownContent {
  display: none;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  transition: max-height 0.3s ease;
}

.dropdownContent.show {
  display: block;
  max-height: 500px;
}

.imageTitle,
.urlTitle {
  font-size: 16px;
}
