.rightToolbar {
  margin-left: auto;
  margin-right: -12px;
}

.user {
  font-size: 0.8rem;
  display: inline-block;
}

/*header*/
/*text in header*/
.toolbar {
  min-height: 36px;
  max-height: 36px;
  background-color: #cccccc;
  color: #4E2A84;
}
/*icons in header*/
.navigation,
.navigation > button {
  color: #4E2A84;
  opacity: 0.75;
  text-decoration: none;
}

.navigation:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.userButton {
  margin-left: 20px;
  cursor: pointer;
}



