.rightToolbar {
  margin-left: auto;
  margin-right: -12px;
}

.user {
  font-size: 0.8rem;
  display: inline-block;
}

.toolbar {
  min-height: 36px;
  max-height: 36px;
}

.navigation,
.navigation > button {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.navigation:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
