.container {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-bottom: solid 1px gray;
}

.timestamp,
.message {
  padding: 10px;
  flex-grow: 0;
}

.timestamp {
  flex-shrink: 0;
}

.message {
  font-family: 'Courier New', sans-serif;
}
