.container {
  display: flex;
  padding: 6px 16px;
  font-size: 0.75rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.0107em;
  color: rgb(97 26 21);
  background-color: rgb(253 236 234);
}

.container.sm {
  padding: 3px;
  line-height: 1;
}

.icon {
  color: #f44336;
  display: flex;
  opacity: 0.9;
  padding: 7px 0;
  font-size: 22px;
  margin-right: 12px;
}

.icon.sm {
  width: 14px;
  height: 14px;
}

.message {
  padding: 8px 0;
}
