.container {
  vertical-align: top;
  width: 100%;
}

.titleContainer {
  background-color: #4c72be;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  overflow: hidden;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 8px;
}

.titleContainer button {
  float: right;
  margin-left: -50%;
}
