.container {
  vertical-align: top;
  width: 100%;
}

.titleContainer {
  background-color: #4c72be;
  padding: 5px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.titleContainer * {
  align-self: center;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 8px;
  display: inline-block;
  flex-grow: 10;
}

.titleContainer button {
  display: inline-block;
  flex-grow: 1;
}
