.container {
  vertical-align: top;
  width: 100%;
}

.titleContainer {
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.titleContainer * {
  align-self: center;
}

.title {
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
  padding: 2px 5px 2px 10px;
  display: inline-block;
}

.titleContainer button {
  display: inline-block;
  padding: 5px;
}

.projectDivider {
  margin-top: 10px;
  margin-bottom: 10px;
}
