.container {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 0.75rem;
}

.container input {
  width: 80%;
}

.browse {
  margin-left: 10px !important;
  line-height: 1 !important;
  width: 15%;
}

.container fieldset {
  border: none;
  margin-bottom: 10px;
}

.container legend {
  font-weight: bold;
  font-size: 0.8rem;
}
