/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~react-checkbox-tree/lib/react-checkbox-tree.css";
@import "~easymde/dist/easymde.min.css";
@import "~react-tagsinput/react-tagsinput.css";
@import "~github-markdown-css/github-markdown-light.css";

/* stylelint-disable selector-class-pattern  */

/*
///////////////////////
Northwestern secondary color palette
https://www.northwestern.edu/brand/visual-identity/color-palettes/secondary-palette/

Purples
----
Northwestern purple #4E2A84

purple60 #836EAA
purple30 #B6ACD1
purple10 #E4E0EE
purple120 #401F68

richblack80 #342F2E
richblack50 #716C6B
richblack20 #BBB8B8
richblack10 #D8D6D6


"brights"
----
green #58B947
green/blue #7FCECD
blue #5091CD
yelow #EDE93B
orange #FFC520
red #EF553F

"darks"
----
green #008656
green/blue #007FA4
blue #0D2D6C
yelow #D9C826
orange #CA7C1B
red #D85820

///////////////////////
custom colors
----
light gray (separator) #f6f6f6

*/

body {
  position: relative;
  color: #000;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  font-family: Arial, Helvetica, "Helvetica Neue", serif;
  overflow-y: hidden;
  margin: 0;
}

/* .MuiToolbar-root {
  background-color: #3f51b5;
} */

.MuiDialogTitle-root {
  background-color: #333;
  margin-bottom: 10px !important;
  padding: 10px 16px !important;
}

.react-tagsinput .react-tagsinput-tag {
  background-color: #3f51b5;
  border: #1f3195;
  color: white;
  font-size: 0.9rem;
}

.react-tagsinput--focused {
  border: solid 1px #1f3195 !important;
}

#graph-id-graph-wrapper {
  width: inherit;
  height: inherit;
}

.tabIndicator {
  background-color: "white";
}

.scrollButtons {
  color: "white";
}

.tabRoot {
  background-color: "#cccccc";
  border: "solid 1px #000";
  font-size: "0.8rem";
}

.tabSelected {
  background-color: "#ffffff";
  color: "#000000";
  font-size: "0.9rem";
}

.tabPanel {
  padding: "10px";
}
