/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~react-checkbox-tree/lib/react-checkbox-tree.css';

body {
  position: relative;
  color: #000;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.MuiTab-textColorSecondary.Mui-selected {
  color: #fff !important;
  background-color: #173164 !important;
}
