.container {
  height: 100vh;
  color: #000;
  margin: 0;
  padding: 15px;
}

.label {
  font-weight: 600;
  padding-bottom: 10px;
}

.hint {
  font-weight: normal;
  color: #444;
  font-size: 0.9rem;
}

.propertyBlock {
  padding-bottom: 25px;
}

.button {
  float: right;
}
