.container {
  width: 100%;
  height: calc(100vh - 64px);
  color: #000;
  margin: 0;
  overflow: auto;
  background-color: #fff;
}

.header {
  background-color: #aa94d1;
  margin: 0;
  padding: 0;
}

.titleContainer {
  padding: 10px;
  color: #fff;
}

.projectPath,
.projectName {
  display: inline-block;
}

.projectPath {
  margin-left: 30px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.title {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
}

.tabs {
  /* border-bottom: solid 1px black; */
  margin-left: 10px;
}

.tabPanel {
  margin: 0;
  padding: 10px;
}

.editableLabel {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
}
