.container {
  margin-left: 20px;
  margin-right: 20px;
}

.selectButton {
  display: block;
  margin: 0 auto;
}

.templateList {
  width: 60%;
  display: inline-block;
}

.templatePreview {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
