.container {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: 10px;
}

h1 {
  font-size: 1.5rem;
  padding-top: 20px;
}

.instructions {
  font-size: 0.9rem;
  width: 75%;
  min-width: 200px;
  margin: 0 auto;
}

.icon {
  margin-bottom: -5px;
}
