.container {
  margin: 5px;
}

.filter {
  width: 15%;
}

.tree {
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.details {
  width: 35%;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
