.container {
  margin: 5px;
}

.tree {
  width: 66%;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.details {
  width: 33%;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
