.container {
  padding: 5px 10px;
  cursor: pointer;
  grid-template-columns: 1fr 16px;
  grid-template-rows: 1fr 1fr;
  display: grid;
  margin-left: 4px;
  margin-right: 2px;
  border-right: 8px solid transparent;
}

.container:hover {
  opacity: 0.7;
  background-color: #ddd;
  color: #333;
  border-radius: 5px;
  border-right: 8px solid #666;
}

.selected {
  opacity: 0.7;
  background-color: #aa94d1;
  color: white;
  border-radius: 5px;
  border-right: 8px solid #67518f;
}

.selected > .path {
  color: #fff;
}

.container:hover > .path {
  color: #333;
}

.path,
.tooltipPath {
  font-size: 0.6rem;
  color: #333;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.path,
.tooltipPath {
  font-size: 0.6rem;
  color: #333;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.path {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.tooltipPath {
  padding-left: 0;
  overflow: visible;
}

.favoriteIcon {
  padding-left: 10px;
  padding-bottom: 2px;
}

.placeholder {
  visibility: hidden;
}

.container:hover .placeholder {
  visibility: visible;
  color: #333;
}

.name {
  font-size: 0.8rem;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.tag {
  font-size: 0.6rem;
  color: #555;
  padding-right: 5px;
  white-space: nowrap;
}

.offlineIcon {
  color: rgb(180 82 37);
  padding-left: 10px;
  font-weight: bold;
  vertical-align: middle;
}

.offlineIcon svg {
  width: 16px;
  height: 16px;
}
